@page "/material/{MaterialNo}"

@code{
    [Parameter]
    public string MaterialNo { get; set; }
}

material is: <b>@MaterialNo</b>

@if (material != null)
{
    @foreach (var item in material.Bom)
    {
        <p>- @item.ComponentNo , @item.Qty</p>
    }


}